body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  background: #000;
  border-bottom: 1px solid #FFFF00;
  -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 2s infinite;
  z-index: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  50% {border-bottom-color: #FFA500;}
}

@keyframes mymove {
  50% {border-bottom-color: #FFA500;}
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0;
  list-style: none;
  position: relative;
}

header nav ul li.sub-menu:before {
  content: '\f078';
  font-family: fontAwesome;
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 1px;
}

header nav ul li.active.sub-menu:before {
  content: '\f077';
}

header nav ul li ul {
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}

header nav ul li.active ul {
  display: block;
}

header nav ul li ul li {
  display: block;
  width: 200px;
  border-top: 1px solid #FFFF00;
  -webkit-animation: mymove1 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove1 5s infinite;
 }

 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes mymove1 {
  50% {border-top-color: #FFA500;}
 }

 @keyframes mymove1 {
  50% {border-top-color: #FFA500;}
 }


header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.focus {
  color: #fff;
  background: #333;
  font-weight: bold;
  font-size: 18px;
}

header nav ul li a.active {
  background: #2196f3;
}

.menu-toggle {
  color: #fff;
  float: left;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none
}

@media (max-width: 860px) {
  header {
    padding: 0 20px;
  }

  .menu-toggle {
    display: block;
  }

  header .logo {
    float: right;
  }

  header nav {
    /* use display none or left:-100% to hide the nav  */
    /* display: none; */
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    transition: 0.5s;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    border-bottom: 0.9px solid rgba(0, 0, 0, .2);
  }

  header nav ul li.active ul {
    position: relative;
    background: #003e6f;
  }

  header nav ul li ul li {
    width: 100%;
  }

}
