body {
  font-family: sans-serif;
  font-size: 16px;
}

.profile-box {
  position: absolute;
  top: 6%;
  left: 6.3%;
  display: grid;
  grid-template-columns: repeat(9, 2fr, 4fr);
  grid-auto-rows: 100%;
  grid-template-areas:
    "c c c a a a b b b"
    "c c c a a a b b b"
    "d d d d d d d d d"
    "d d d d d d d d d";
  overflow: hidden;
}

.left-box {
  position: relative;
  grid-area: a;
  display: grid;
  font-family: sans-serif;
  color: #000;
  background-color: #A9A9A9;
  height: 100%;
  list-style: none;
  border-right: 2px solid #FFFF00;
  -webkit-animation: leftBox 5s infinite; /* Safari 4.0 - 8.0 */
  animation: leftBox 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftBox {
  50% {border-right-color: #FFA500;}
}

@keyframes leftBox {
  50% {border-right-color: #FFA500;}
}

.right-box {
  position: relative;
  grid-area: b;
  display: grid;
  color: #000;
  background-color: #C0C0C0;
  height: 100%;
  text-align: center;
  padding: 50px;
}

.footer {
  position: absolute;
  grid-area: d;
  display: grid;
  color: #fff;
  background-color: #000;
  top: 100%;
  width: 100%;
  text-align: center;
}

.pfp-background {
  position: relative;
  text-align: center;
  height: 44%;
  background-color: #333;
  width: 100%;
}

.pic {
  position: relative;
  text-align: center;
  height: 242px;
  width: 242px;
}

.about-text {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-family: cursive;
  background-color: #D3D3D3;
  height: 100px;
  overflow-y: scroll;
}

/* width */
.about-text::-webkit-scrollbar {
  width: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Track */
.about-text::-webkit-scrollbar-track {
  background: #C0C0C0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle */
.about-text::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.about-text::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.about-header {
  font-sie: 50px;
}

.content-left ul li {
  position: relative;
  list-style: none;
  left: -30px;
  top: -370px;
}

.info-header {
  font-size: 20px;
  font-weight: bolder;
}

.content-left ul li span {
  position: relative;
  margin-left: 10px;
  font-family: cursive;
}

.idea-text {
  border: 1px solid #333;
  padding: 10px;
  font-family: cursive;
  height: 100px;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: #D3D3D3;
}

/* width */
.idea-text::-webkit-scrollbar {
  width: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Track */
.idea-text::-webkit-scrollbar-track {
  background: #C0C0C0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle */
.idea-text::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.idea-text::-webkit-scrollbar-thumb:hover {
  background: #555;
}
